.btn {
    display: inline-block;
    border-radius: 8px;
    background-color: #141718;
    color: #fff;
    padding: 12px 56px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.4px;
    line-height: 1.7777;
    transition: all 0.3s ease-in;

    @include mobile {
        font-size: 16px;
    }

    &--small {
        padding: 9px 40px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.4;
        line-height: 28px;

        @include mobile {
            font-size: 14px;
            padding: 6px 40px;
        }
    }

    &--wide {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    &:hover {
        opacity: 0.8;

    }
}